body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 10rem;
    text-align: center;
}

body {
    /*background-image: There is no image*/
    text-align: center;
}

.card {
    line-height: 1;
    break-inside: avoid;
    width: 100% !important;    
    height: auto !important;  
    border: 0.5rem;
    border-style: solid;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 1rem;
    border-color: rgb(255,96,0);
    background-color: rgb(212, 212, 212);
    animation-name: reverse;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}

@keyframes hover {
    from {
        box-shadow: 0px 0px 0 0 rgb(255,96,0);
    }
    to {
        box-shadow: 0px 0px 1rem 0.1rem rgb(255,96,0);
    }
  }

@keyframes reverse {
    from {box-shadow: 0px 0px 1rem 0.1rem rgb(255,96,0);}
    to {box-shadow: 0px 0px 0 0 rgb(255,96,0);}
}

.card:hover {
    animation-name: hover;
    box-shadow: 0px 0px 1rem 0.1rem rgb(255,96,0);
}

.card__title {
    font-size: 5rem;
    text-align: center;
}

.card__description {
    font-size: 3rem;
    text-align: center;
}

.card__image {
    width: 100%;
    border-radius: 0.5rem;
}

#container {
    display:inline-block;  
    line-height: 0;  
    -webkit-column-count: 3;    
    -webkit-column-gap: 0px;    
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;    
    column-gap: 0px;   
}


 @media (max-width: 1000px) {
    #container {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
   }  
 @media (max-width: 600px) {
    #container {
    -moz-column-count:    1;
    -webkit-column-count: 1;
     column-count:        1;
    }
   }