body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 10rem;
    text-align: center;
}

body {
    /*background-image: There is no image*/
}

.card {
    width:inherit;
    border: 0.5rem;
    border-style: solid;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 1rem;
    border-color: rgb(255,96,0);
    background-color: rgb(212, 212, 212);
    box-shadow: 0px 0px 0 0 rgb(255,96,0);
    animation-name: reverse;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}

@keyframes hover {
    from {
        box-shadow: 0px 0px 0 0 rgb(255,96,0);
    }
    to {
        box-shadow: 0px 0px 1rem 0.1rem rgb(255,96,0);
    }
  }

@keyframes reverse {
    from {box-shadow: 0px 0px 1rem 0.1rem rgb(255,96,0);}
    to {box-shadow: 0px 0px 0 0 rgb(255,96,0);}
}

.card:hover {
    animation-name: hover;
    box-shadow: 0px 0px 1rem 0.1rem rgb(255,96,0);
}

.card__title {
    font-size: 5rem;
    text-align: center;
}

.card__description {
    font-size: 3rem;
    text-align: center;
}

.card__image {
    width: 100%;
    border-radius: 0.5rem;
}

#container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.column {
    display: flex;
    flex: 25%;
    max-width: 25%;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 1050px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}

@media (max-width: 700px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}