body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width:80vw;
    height:auto;
    border: 0.5rem;
    border-style: solid;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem 1rem;
}

.card__title {
    font-size: 5rem;
    text-align: center;
}

.card__description {
    font-size: 5rem;
    text-align: center;
}

.card__image {
    width: 100%;
    border-radius: 0.5rem;
}

#container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
}